<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    
    <bean id="userService" class="com.pcwk.ehr.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
    
    <!-- DataSource를 구현한 SimpleDriverDateSource Bean 객체 생성 -->
        <!-- bean태그에서 id는 해당 태그를 식별할 수 있는 식별자이고 class는 java 파일의 url을 넣으면
                Spring IoC 컨테이너(ApplicationContext)에 객체가 만들어져 해당 파일 안에 객체를 담게 된다. -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource" >
        <!-- public SimpleDriverDataSource(Driver driver, String url, String username, String password)
            SimpleDriverDataSource 메서드에 4개의 param 전달 -->
        <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
        <property name="url" value="jdbc:oracle:thin:@192.168.3.101:1521:xe"></property>
        <property name="username" value="SPRING"></property>
        <property name="password" value="pcwk_spring"></property>
    </bean>
    <!-- UserDao 객체 생성 -->
        <!-- **default 생성자를 만들지 않으면 아래 bean은 오류가 난다. bean 설정을 할 때는 default 생성자를 만들어야 한다. -->
    <bean id="userDao" class="com.pcwk.ehr.UserDaoImpl">
      <!-- setter를 통한 의존 관계 주입(DI) -->
          <!-- property 태그에서 name 속성은 setter 메서드의 set을 뺀 메서드 명이며, setter를 찾아간다.
          * ref는 param이 위치해야 한다.
          ** 아래 코드는 userDao에는 param으로 dataSource가 param으로 필요하니 id="dataSource"로 생성된
          ** dataSource을 bean id값을 통해 넘겨준 것이다. -->
      <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>